---
layout: textlay
---
<div class="text-justify">
    {{reference}}
</div>

<html>
<head></head>
<body>
<style>
	#example2 {
	  border: 1px solid;
	  padding: 10px;
	  box-shadow: 5px 10px #888888;
	}
</style>
<table>
	<th>
	    <img src="/pdf/jpg/{{page.entry.key}}.jpg" width="98" height="130
	    " img style="border:1px solid black">
	</th>
	<th>
		$$\;\;\;$$
	</th>
	<th>
  <h3>{{ page.entry.title }}</h3>
  <b>{{ page.entry.author }}</b>
</th>
</table>
 
 <div id="example2">
   <p> <b> Abstract: </b>
   	{{ page.entry.abstract }}
   </p>
</div>  
 
  <br>
  <a href="{{page.entry.url}}"> {{ page.entry.journal }} </a> Year: {{page.entry.year}} 
  Vol. <b> {{ page.entry.volume }}</b> [<span><a href="/PDF/{{ page.entry.key }}.pdf">pdf</a></span>]
  <br>
  <br>
  <br>
  <div>
      
      
      
  </div>
  <br>
  
</body>
</html>
